!!! 5
%html
  %head
    %title CS Clearing House

  %body
    %h1.title CS Clearing House
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
