
%h1 All Projects

%table#projects

  %thead
    %tr
      %th Title
      %th Description
      %th Details
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title 
        %td= project.description
        %td= link_to "More about #{project.title}", project_path(project)

=link_to 'Add New Project', new_project_path
 
